/*Keep working ---- bounding boxes*/
.booster-nav {
    font-weight:500;
    font-size:20px;
    list-style-type: none;
    margin:0;
    padding:0;
}
.booster-nav > li a {
    display:block;
    padding: .5rem 1rem;
    text-decoration:none;
    color:var(--on-primary);
}
.booster-nav > li a:before {
    content:'â¯ ';
    font-weight:700;
}
.info > div > section{
    margin-bottom: 1.25rem;
}
/*Table styling*/
.flex_tbl {
    display:flex;
    flex-flow:row wrap;
}
.flex_tbl > div {
    border: 3px solid var(--on-primary);
    margin: .5rem;
    text-align:center;
    padding: .5rem;
    border-radius:.5rem;
    max-width:40%;
}
.header {
    font-weight:700;
    font-size:1.75rem;
}
.email_link {
    text-decoration:none;
    color:var(--on-primary);
    font-size:.75rem;
}
.price {
    font-weight:500;
    font-size:1.5rem;
}
.subheader {
    font-size:1.25rem;
    font-weight:500;
}
/*Size Specific Modifications*/
@media only screen and (max-width: 600px) {
    /*small screens*/
    .info {
        display:inline-block;
        grid-gap: 1rem;
    }
}
@media only screen and (min-width: 600px) {
    /*larger screens*/
    .info {
        display:grid;
        grid-gap: 1rem;
        grid-template-columns: 20vw auto;
    }
}