/*Posts Styling ---- Keep Working*/
.info {
    display:grid;
    grid-gap: 1rem;
}
.post_box {
    background-color:var(--on-secondary);
    border-radius: .75rem;
    padding: .6rem;
    margin-bottom: .5rem;
}
.post_box:last-child {
    margin-bottom: 0;
}
.post_author {
    text-transform: uppercase;
    font-weight:500;
    font-size:1.25em;
    margin-bottom: .25rem;
}
/*Gallery Styling*/

/*Size sensitive styling*/
@media only screen and (max-width: 600px) {
    /*small screens*/
    .info {
        grid-template-rows: auto auto;
    }
}
@media only screen and (min-width: 600px) {
    /*large screens*/
    .info {
        grid-template-columns: 50vw auto;
    }
}